.container.primary{
    padding:0.5rem 0;
    max-height: 5rem;
    width: 100%;
    position: relative;
    flex:1;
    overflow: hidden;

}

.container.primary .hours-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 100%;
    margin-left: -50px;
    gap: 0.5rem;


}

.container.primary .line{
    height: 100%;
    width: 2px;
    background: white;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 0;
}

.container.primary .line::before{
    
}
#current-time span{
    font-size: 2rem;
    opacity: 0.5;
}

.container.primary .hour{
    background: hsl(0, 0%, 40%);
    height: 100%;
    width: 10rem;
    border-radius: 1rem;
    flex-shrink: 0;
}

.container.primary .hour .event{
    background: var(--main);
    width: 80%;
    height: 100%;
    border-radius: 1rem;
}

.container.primary .hour .event .text{
    padding: 0.5rem 0 0 0.5rem;
    position: relative;
}

.container.primary .hour .event #time,#name{
    color: white;
    font-size: 1rem;
    font-weight: 600;;
}