body{
    background:#f3f6fa;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.wrapper >*{
    flex: 1;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    background: white;
    padding:2rem;
    border:solid 1px gray;

}

.preview{
    padding: 2rem;
    border:solid 1px gray;
    background: white;
}

